# /lib/systemd/system/beocreate-server.service
[Unit]
Description=Beocreate Remote Service
After=network.target

[Service]
WorkingDirectory=/root/beocreate-server
ExecStart=/root/beocreate-server/BeocreateRemote.Server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
