# /lib/systemd/system/fan.service
[Unit]
Description=Fan PWM

[Service]
ExecStart=/home/osmc/fan/fan.sh
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=multi-user.target
