# /lib/systemd/system/fan.service
[Unit]
Description=Fan PWM

[Service]
ExecStart=/home/osmc/beocreate-remote/doc/fan.sh

[Install]
WantedBy=multi-user.target
