@using BeocreateRemote.Core

@inject IRemoteController RemoteController

<h4>Volume</h4>

<button class="btn" @onclick="ToggleMute">@MuteDisplay</button>
<button class="btn" @onclick="VolumeDown">🔉</button>
<button class="btn" @onclick="VolumeUp">🔊</button>
<label>
    @VolumeDisplay
</label>
<input type="range" min="0" max="100" @bind="VolumeValue"/>


@code {
    private int increment = 1;

    private int VolumeValue
    {
        get => RemoteController.Volume;
        set => RemoteController.Volume = value;
    }

    private string VolumeDisplay => RemoteController.Mute ? "🔇": $"{VolumeValue} %";

    private string MuteDisplay => RemoteController.Mute ? "🔈" : "🔇";

    private void VolumeUp()
    {
        RemoteController.Volume += increment;
    }

    private void VolumeDown()
    {
        RemoteController.Volume -= increment;
    }

    private void ToggleMute()
    {
        RemoteController.Mute = !RemoteController.Mute;
    }

}